/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.footer-provider-wrapper {
  background-color: #f3f9ff;
}
@media (max-width: 480px) {
  .footer-provider-wrapper .footer-provider {
    padding: 72px 16px 52px 16px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .footer-provider-wrapper .footer-provider {
    padding: 72px 36px 52px 36px;
  }
}
@media (min-width: 1380px) {
  .footer-provider-wrapper .footer-provider {
    padding: 72px 52px 52px 52px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .footer-provider-wrapper .footer-provider {
    padding: 72px 52px 52px 52px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .footer-provider-wrapper .footer-provider {
    padding: 72px 36px 52px 36px;
  }
}
.footer-provider-wrapper .footer-provider > .logo-social-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1275px;
  margin: auto;
}
.footer-provider-wrapper .footer-provider > .logo-social-div > .social-div {
  display: flex;
  gap: 11px;
}
.footer-provider-wrapper .footer-provider > .logo-social-div > .social-div > p {
  display: flex;
  gap: 11px;
}
.footer-provider-wrapper .footer-provider > .logo-social-div > .social-div > p > a > span {
  height: 40px;
  width: 40px;
}
@media (max-width: 480px) {
  .footer-provider-wrapper .footer-provider > .logo-social-div > .social-div {
    display: none;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .footer-provider-wrapper .footer-provider > .logo-social-div > .social-div {
    display: none;
  }
}
.footer-provider-wrapper .footer-provider > .claims-div {
  padding: 36px 0 36px 0;
  border-bottom: 2px solid #c2c2c3;
  max-width: 1275px;
  margin: auto;
}
.footer-provider-wrapper .footer-provider > .wellmarkdrug-div {
  padding: 36px 0 36px 0;
  border-bottom: 2px solid #c2c2c3;
  max-width: 1275px;
  margin: auto;
}
.footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div {
  display: flex;
  gap: 11px;
}
.footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div > p {
  display: flex;
  gap: 11px;
}
.footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div > p > a > span {
  height: 40px;
  width: 40px;
}
@media (max-width: 480px) {
  .footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div {
    display: flex;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div {
    display: flex;
  }
}
@media (min-width: 1380px) {
  .footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .footer-provider-wrapper .footer-provider > .wellmarkdrug-div > .social-div {
    display: none;
  }
}
.footer-provider-wrapper .footer-provider > .copyright-div {
  padding: 36px 0;
  opacity: 1;
  background-color: #d6e5f1;
}
.footer-provider-wrapper .footer-provider > .copyright-div > div {
  max-width: 1275px;
  margin: auto;
}
.footer-provider-wrapper .footer-provider > .copyright-div > div > p {
  padding-bottom: 24px;
  opacity: 1;
  color: #4b4c4d;
  font-family: roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  text-align: left;
  line-height: 20px;
}
.footer-provider-wrapper .footer-provider > div > div > ul {
  list-style: none;
  margin: 0px;
  display: flex;
  gap: 52px;
  padding: 0px;
}
@media (max-width: 480px) {
  .footer-provider-wrapper .footer-provider > div > div > ul {
    flex-direction: column;
    gap: 24px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .footer-provider-wrapper .footer-provider > div > div > ul {
    flex-direction: column;
    gap: 24px;
  }
}
.footer-provider-wrapper .footer-provider > div > div > ul > li {
  font-size: 16px;
  font-weight: 500;
  color: #005589;
  opacity: 1;
  font-family: roboto, sans-serif;
  letter-spacing: 0px;
}