/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
.title-banner-container {
  background: linear-gradient(270deg, rgb(166, 198, 221) 0%, rgb(73, 115, 144) 50%);
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols {
  padding: 50px 52px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols {
    padding: 72px 36px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols {
    padding: 96px 36px;
  }
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols {
    padding: 52px 16px;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 480.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div {
    align-items: center;
    flex-direction: row;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div {
    gap: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div {
    gap: 72px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div {
    gap: 96px;
  }
}
@media (min-width: 1380px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div {
    gap: 96px;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div > div {
  order: 1;
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 480.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div > div {
    flex: 1;
    order: unset;
    text-align: left;
    column-gap: 12px;
  }
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div > div {
    max-width: 90%;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div > .columns-img-col {
  order: 0;
  align-self: flex-start;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div > .columns-img-col {
    display: none;
  }
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div > .columns-img-col {
    display: none;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols > div > .columns-col img {
  display: block;
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols img {
  width: 100%;
  display: flex;
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block h2 {
  color: #ffffff;
  font-family: museo, sans-serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block h2 {
    font-size: 60px;
    line-height: 66px;
  }
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block h2 {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block h2 {
    margin-bottom: 8px;
  }
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block p {
  color: #ffffff;
  font-family: museo, sans-serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 24px;
  margin-top: 0;
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block p.button-container {
  margin-top: 0;
  margin-bottom: 0;
}
.title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block p.button-container a.button.primary {
  margin-bottom: 16px;
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block p.button-container {
    width: 100%;
    display: unset;
  }
}
@media (max-width: 480px) {
  .title-banner-container .title-banner-wrapper .title-banner.block.columns-2-cols.block p {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container.blue-550 .title-banner-wrapper .block.columns-2-cols div {
    gap: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container.blue-550 .title-banner-wrapper .block.columns-2-cols div div {
    gap: unset;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container.blue-550 .title-banner-wrapper .block.columns-2-cols div div h2 {
    margin-bottom: 16px;
  }
}
.one-btn-banner.title-banner-container.blue-550 .title-banner-wrapper .block.columns-2-cols div div p:nth-child(2) {
  width: 100%;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .one-btn-banner.title-banner-container.blue-550 .title-banner-wrapper .block.columns-2-cols div div p:nth-child(2) {
    margin-bottom: 36px;
  }
}
@media (max-width: 480px) {
  .one-btn-banner.title-banner-container.blue-550 .title-banner-wrapper .block.columns-2-cols div div p:nth-child(2) {
    margin-bottom: 36px;
  }
}
@media (max-width: 480px) {
  .one-btn-banner.title-banner-container.blue-550 .title-banner-wrapper .block.columns-2-cols div div p.button-container {
    width: unset;
  }
}