$breakpoint1: 480px;
$breakpoint2: 1023px;
$breakpoint3: 1200px;
$breakpoint4: 1379px;
// for mobile with upto 480px
@mixin for-mobile {
  @media (max-width: $breakpoint1) {
    @content;
  }
}
// for tablet 481 to 1023
@mixin for-tablet {
  @media (min-width: calc($breakpoint1 + 0.5px)) and (max-width: calc($breakpoint2 + 0.5px)) {
    @content;
  }
}
 
// for laptop 1024 to 1200
@mixin for-laptop {
  @media (min-width: calc($breakpoint2 + 1px)) and (max-width: $breakpoint3) {
    @content;
  }
}
 
// for 1201 to 1379
@mixin for-large {
  @media (min-width: calc($breakpoint3 + 1px)) and (max-width: $breakpoint4) {
    @content;
  }
}
 
//very large screen 1379 +
@mixin for-xlarge {
  @media (min-width: calc($breakpoint4 + 1px)) {
    @content;
  }
}
//Non-Mobile
@mixin for-nonmobile {
  @media (min-width: calc($breakpoint1 + 0.5px)) {
    @content;
  }
}