/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
/* buttons */
.button-container {
  display: flex;
}

a.button,
button {
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 2px;
  font-family: roboto, sans-serif;
  color: #005589;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 12px 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  font-style: normal;
  letter-spacing: -0.18px;
  line-height: 28px;
}
a.button.primary,
button.primary {
  background-color: #005589;
  color: #ffffff;
  padding: 12px 36px;
  text-decoration: none;
}
a.button.primary:hover,
button.primary:hover {
  background-color: #0f3659;
  color: #ffffff;
}
a.button.primary:focus,
button.primary:focus {
  background-color: #0f3659;
  color: #ffffff;
  outline: 3px solid #e45f0c;
  outline-style: dashed;
  outline-offset: 2px;
}
a.button.secondary,
button.secondary {
  background-color: #ffffff;
  border: 2px solid #005589;
  color: #005589;
  padding: 10px 34px;
  text-decoration: none;
}
a.button.secondary:hover,
button.secondary:hover {
  background-color: #f3f9ff;
  border: 2px solid #0F3659;
  color: #0F3659;
}
a.button.secondary:focus,
button.secondary:focus {
  background-color: #f3f9ff;
  border: 2px solid #0F3659;
  color: #0F3659;
  outline: 3px solid #e45f0c;
  outline-style: dashed;
  outline-offset: 2px;
}

.blue-550 .button-container .button.primary {
  background-color: #ffffff;
  color: #005589;
}
.blue-550 .button-container .button.primary:hover {
  color: #0f3659;
}
.blue-550 .button-container .button.primary:focus {
  color: #0f3659;
  outline: 3px solid #ffffff;
  outline-style: dashed;
  outline-offset: 2px;
}
.blue-550 .button-container .button.secondary {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.blue-550 .button-container .button.secondary:hover {
  background-color: rgba(255, 255, 255, 0.1882352941);
}
.blue-550 .button-container .button.secondary:focus {
  background-color: rgba(255, 255, 255, 0.1882352941);
  outline: 3px solid #ffffff;
  outline-style: dashed;
  outline-offset: 2px;
}

/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
/* wellmark color start */
/* wellmark color end */
/* wellmark spacing size start */
/* wellmark spacing size start */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b4c4d;
  opacity: 1;
  text-align: left;
  letter-spacing: 0px;
}

h1,
h2 {
  font-family: museo, sans-serif;
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-family: roboto, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  line-height: 33px;
}
@media (min-width: 480.5px) {
  h1 {
    font-size: 40px;
    line-height: 47px;
  }
}

h2 {
  font-size: 28px;
  line-height: 28px;
}
@media (min-width: 480.5px) {
  h2 {
    font-size: 32px;
    line-height: 31px;
  }
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 20px;
  line-height: 21px;
}

body {
  display: none;
  margin: 0;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* links */
a:any-link {
  color: #005589;
  text-decoration: underline;
  word-break: break-word;
  padding: 0;
}

.background-blue-50 {
  background-color: #f3f9ff;
}

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;
  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;
  /* nav heights */
  --nav-height: 64px;
  --breadcrumbs-height: 34px;
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}
body.appear {
  display: block;
}

header.megamenu-wrapper {
  height: 60px;
}
@media (min-width: 480.5px) and (max-width: 1023.5px) {
  header.megamenu-wrapper {
    height: 60px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header.megamenu-wrapper {
    height: 60px;
  }
}
@media (min-width: 1201px) and (max-width: 1379px) {
  header.megamenu-wrapper {
    height: 161px;
  }
}
@media (min-width: 1380px) {
  header.megamenu-wrapper {
    height: 161px;
  }
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status=loaded],
footer .footer[data-block-status=loaded] {
  visibility: visible;
}

@media (width >= 900px) {
  body[data-breadcrumbs] {
    --header-height: calc(var(--nav-height) + var(--breadcrumbs-height));
  }
}
p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* buttons */
button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 0;
}
main > .section > div {
  max-width: 1275px;
  margin: auto;
}
main > .section > div.promo-image-wrapper {
  max-width: 1920px;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}